<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mail</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<h2 style="color: red;background: #0dcaf0">Welcome to PFSMS</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Roll No</th>
        <th>Class</th>
    </tr>
    <tr>
        <td>{{ name }}</td>
        <td>{{ roll }}</td>
        <td>{{ Class }}</td>
    </tr>
</table>
</body>
</html>